@charset "UTF-8";
/*規則命名はBEM*/
a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 17px;
  line-height: 2em;
  margin-bottom: 10px;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

img {
  width: 100%;
}

p {
  font-size: 15px;
  line-height: 1.8em;
}

h2, p {
  color: #727171;
}

span {
  font-size: 25px;
  line-height: 1.5em;
}

/*pararax*/
.from-left {
  transform: translateX(-30px);
  opacity: 0;
  transition: opacity 2s,transform 4s;
}

.from-right {
  transform: translate(20px, 0);
  opacity: 0;
  transition: opacity 2s,transform 4s;
  margin-top: 10px;
}

.left-fadein {
  opacity: 1;
  transform: translateX(10px);
}

.right-fadein {
  opacity: 1;
  transform: translate(-10px, 0);
  margin-left: 20px;
}

/*パララックスでの画面のズレの調整*/
#wrapper {
  width: 100%;
  overflow: hidden;
}

/*ズレの調整ここまで*/
/*ここまでpararax*/
/*ここから購入ボタン*/
.order__button {
  height: 10vh;
  line-height: 10vh;
  background-color: #07ba3d;
  text-align: center;
  color: #fff;
  display: block;
  margin: 30px 20px 70px 20px;
  font-size: 1.5em;
  box-shadow: 0 1px 8px #000001;
  transition: 0.8s;
}

.order__button:hover {
  opacity: 0.9;
  transition-duration: 0.4s;
  background-color: rgba(7, 186, 61, 0.9);
}

/*購入ボタンここまで*/
/*ここからsmart*/
h2 {
  font-size: 20px;
  line-height: 1.5em;
  font-family: 'Hannari','Noto Serif JP', serif;
}

.container__first {
  padding: 0 20px;
}

.container__first h2 {
  text-align: center;
  margin-top: 20px;
}

.container__first p {
  margin-bottom: 20px;
}

.container__introduction {
  text-align: center;
  margin-top: 40px;
}

.container__items {
  width: 60vw;
  margin: 0 auto;
}

.container__items p {
  text-decoration: underline;
  color: #8b0065;
}

.container__items__item {
  width: 40vw;
  margin: 0 auto 30px;
  text-align: center;
}

.container__items__item img {
  width: 20vw;
}

.item-title, .blume-title {
  color: #8b0065;
}

#step1 img {
  width: 60vw;
}

#step1 > div {
  text-align: center;
}

.step1 {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #EEEDED;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-step {
  color: #8b0065;
  font-size: 23px;
}

.product-explain {
  font-size: 30px;
}

#step1, #step2, #step3 {
  padding: 0 20px;
}

.step1-explain h2 {
  margin: 20px 0;
}

.flex, .flex1 {
  display: flex;
}

.flex1, .flex2 {
  margin-top: 20px;
}

.texture-image img {
  width: 30vw !important;
}

.texture-explain {
  margin-top: 20px;
}

.texture-explain > p {
  margin-bottom: 10px;
}

.texture-name > p:first-child {
  color: #8b0065;
  margin-bottom: 10px;
}

.texture-name > p:last-child {
  text-align: initial;
}

.flex2:p:last-child {
  color: #8b0065;
}

.flex2 p {
  text-align: initial;
}

.use-title {
  color: black;
  padding: 2px 7px;
  background-color: #EEEDED;
  display: inline-block;
  border-radius: 10px;
  margin-top: 20px;
}

.blume-title {
  font-size: 24px;
  text-align: initial;
}

.blume-price {
  font-size: 17px;
  text-align: initial;
  margin-top: 10px;
}

.blume-term {
  margin-top: 10px;
}

.blume-texture {
  text-align: initial;
  margin-top: 10px;
}

.use {
  text-align: initial;
}

.flex3 {
  display: flex;
  flex-direction: column;
}

.flex3 img {
  width: 40vw !important;
}

.flex3 > p {
  margin-top: 10px;
}

.flex3 > div {
  text-align: center;
}



#step2 .step1-explain,
#step3 .step1-explain {
  padding: 0 20px;
}

#step2 h2 {
  text-align: center;
}

#step2 img {
  width: 60vw;
}

#step2 > div:first-child {
  text-align: center;
}

.left {
  width: 330px;
  height: 330px;
  border-radius: 165px;
  border: 1px dotted black;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.left p {
  width: 140px;
}

.left p:first-child {
  color: #8b0065;
  font-size: 18px;
  text-align: center;
}

.left p:last-child {
  font-size: 16px;
  width: 210px;
}

.woman1 img {
  width: 50vw !important;
  margin: 10px auto 0;
  display: block;
}

#step3 .step1 {
  margin-top: 0;
}

.amount-title {
  display: flex;
  align-items: center;
  /* 垂直中心 */
  justify-content: center;
  /* 水平中心 */
}

.amount-title:before, .amount-title:after {
  border-top: 1px solid #433016;
  content: "";
  width: 15vw;
  /* 線の長さ */
}

/*ここまでmain*/
